@import "../../common/colors.scss";

.list-movies {
  margin: 20px 0;

  h3 {
    color: $font-primary;
  }
  .movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 10px;
  }
}
